/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap'); */
/* //=============Gloabal CSS========// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
